.navbar .navbar-brand {
  color: #d4d4d4;
  font-size: 1rem;
  padding-top: .45rem;
}

body {
  color: #4c4c4c;
}

sup {
  font-size: .6em;
}

.display-4 {
  font-family: 'IM Fell English SC', serif;
  text-align: center;
  font-size: 5em;
  text-shadow: 3px 3px 8px #222;
}

h3 {
  font-family: 'IM Fell English SC', serif;
  text-align: center;
  font-size: 1.8em;
  text-shadow: 3px 3px 8px #c5c5c5;
}

.navbar {
  background-color: #3e5d84;
  box-shadow: 0px 0px 11px 0px #c3c3c3;
}

.jumbotron {
  background: linear-gradient(rgba(100, 146, 204, 0.7),
              rgba(100, 146, 204, 0.8) 100%),
              #6492cc url('../img/cross.jpg') no-repeat center;
  background-size: cover;
}

.btn,
.active {
  transition: .2s;
}

button {
  background-color: gray;
  color: #fff;
}

.btn:hover {
  box-shadow: inset 0 0 4px 2px rgba(37, 37, 37, 0.7);
}

.btn-group>.btn:last-child:not(:first-child) {
  color: rgba(0, 0, 0, 0.63);
}

.navbar-inverse .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #9e9e9e;
}
