// background image properties 
@mixin background-image-properties {
    background-repeat: no-repeat;
    background-size: cover;
}

// text-align 
@mixin align-center {
    text-align: center;
}
@mixin align-left {
    text-align: left;
}
@mixin align-right {
    text-align: right;
}

// width of page
@mixin width-90 {
    width: 90%;
    margin: auto;
}
@mixin width-80 {
    width: 80%;
    margin: auto;
}
@mixin width-70 {
    width: 70%;
    margin: auto;
}

// letter-spacing
@mixin letter-spacing {
    letter-spacing: .9px;
    line-height: 1.5em;
}

// flexbox
@mixin flexbox-column {
    display: flex;
    flex-direction: column;
}
@mixin flexbox-row {
    display: flex;
    flex-direction: row;
}

// media queries
@mixin mobile-landscape {
    @media (min-width: $mobile-landscape) {
      @content;
    }
}
@mixin tablet-portrait {
    @media (min-width: $tablet-portrait) {
      @content;
    }
}
@mixin tablet-landscape {
    @media (min-width: $tablet-landscape) {
      @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
      @content;
    }
}
@mixin large-desktop {
    @media (min-width: $large-desktop) {
      @content;
    }
}