/*------------------
Font Styles
------------------*/
/*------------------
Media Queries
------------------*/
body {
  margin: 0;
  color: #4e4e4e; }

img {
  max-width: 100%; }

.container {
  max-width: 90%;
  margin: auto;
  text-align: center; }
